* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.ourteam {
    background-color: white;
    text-align: center;
}

.ourteam-body {
    padding-top: 70px;
    padding-bottom: 60px;
    margin: auto;
    font-size: 25px;
}

.body {
    margin: auto;
    padding: 30px 10px;
    max-width: 1200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.teams {
    padding: 30px;
    margin: 20px;
    max-width: 20%;
}

.name {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.working {
    padding: 10px;
    font-size: 14px;
    font-style: italic;
}

.teams {
    margin: 6px;
    border: 10px;
    border-color: #f0f0f0;
    border-style: solid;
    background-color: #f0f0f0;

}

.img {
    border-radius: 1em;
}