*{
    padding:0;
    margin:0;
    font-family:arial;
    font-weight:bold ;
}
#container{
    display:flex;
    align-items:center;
    font-size:30px; 
    font-weight: strong;
    text-align:justify; 
    display:inline-flex;
    color:blue;
    font-style:italic ;
}
.menu{
    background-color:#df2d45;
    text-align: center;

}
 .menu ul{
    display:inline-flex;
    list-style:none;
    color:#fff;
    overflow: hidden;

}
.menu ul li{
    width:165px;
    font-size:medium;
 
}
.menu li a {
    display: block;
    color:#fff;
    text-align: center;
    padding:15px;
    text-decoration:none;
  }
.menu li a:hover{
    color:black;
    text-decoration: underline;
    
    
    
}
.nen-menu{
    display:none;

}
.menu ul li:hover .nen-menu{
    display:block;
    position:absolute;
    background-color:#df2d45;
}
.menu ul li:hover .nen-menu ul{
    display:block;
    margin:0;

}
.menu  li:hover .nen-menu ul li{
    width:150px;
    padding:0;
    border:0;
    
    border-bottom: 2px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
    

}
.menu  li:hover .nen-menu ul li:last-child
{
    border-bottom:none;       /*Me hjek kufizimin te kategoria e fundit*/
   
}
.menu  li:hover .nen-menu ul li a:hover{
    color:black;
}

