<!DOCTYPE html>
<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="../css/1.css">
    </head>

    <body>
        <div class="body">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-top" src="../images/digitalmarketing.jpg">
                    </div>
                    <a href="DigitalMarketing.html" class="link-design">
                        <p class="card-title">Digital Marketing</p>
                    </a>
                    <div class="card-description">
                        <p class="card-desc-txt">Social Media, SEO, Google Ads & Email Marketing, Canva, etj.</p>
                        <hr>
                        <p class="card-more-info">APLIKO TANI</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-top" src="../images/graphicdesign.jpg">
                    </div>
                    <a href=" " class="link-design">
                        <p class="card-title">Graphic Design</p>
                    </a>
                    <div class="card-description">
                        <p class="card-desc-txt">Adobe Photoshop, Adobe Illustrator, Web Design, Branding, etj.</p>
                        <hr>
                        <p class="card-more-info">APLIKO TANI</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-top" src="../images/fullstack.jpg">
                    </div>
                    <a href=" " class="link-design">
                        <p class="card-title">Full Stack Development</p>
                    </a>
                    <div class="card-description">
                        <p class="card-desc-txt">HTML5, CSS, Javascript, Web Development, UX & UI, etj.</p>
                        <hr>
                        <p class="card-more-info">APLIKO TANI</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-top" src="../images/cybersecurity.jpg">
                    </div>
                    <a href=" " class="link-design">
                        <p class="card-title">Cyber Security</p>
                    </a>
                    <div class="card-description">
                        <p class="card-desc-txt"> Web Security, App Security, Software Security, Penetration Testing,
                            etj.</p>
                        <hr>
                        <p class="card-more-info">APLIKO TANI</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-top" src="../images/pythondeveloper.jpg">
                    </div>
                    <a href=" " class="link-design">
                        <p class="card-title">Python</p>
                    </a>
                    <div class="card-description">
                        <p class="card-desc-txt">Python Basis, App & Web Development, Testing, etj.</p>
                        <hr>
                        <p class="card-more-info">APLIKO TANI</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-top" src="../images/mobileapplication.jpg">
                    </div>
                    <a href=" " class="link-design">
                        <p class="card-title">Mobile APP</p>
                    </a>
                    <div class="card-description">
                        <p class="card-desc-txt">Mobile APP for IOS and Android, Design & Development, etj.</p>
                        <hr>
                        <p class="card-more-info">APLIKO TANI</p>
                    </div>
                </div>
            </div>

    </body>
</hmtl>