<!DOCTYPE html>
<html>

<head>
    <title>Our Team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <div class="ourteam">
        <div class="ourteam-body">
            <h1>Our Team</h1>
        </div>
        <div class="body">
            <div class="teams">
                <img class="img"
                    src="https://media.istockphoto.com/id/856599656/photo/passport-picture-of-a-smiling-turkish-businesswoman.jpg?s=612x612&w=0&k=20&c=dgETy-9neViQs7SATDTOOa80QOhVFcLIomBFRxWVN_8="
                    height="220px" width="180px">

                <div class="name">
                    <h2>Arijesa Muja</h2>
                </div>
                <div class="working">
                    <h3>Senior JavaScript Engineer</h3>
                </div>
                <div class="desription">Inxhiniere e JavaScript me përvojë shumëvjecare, e cila aktualisht është duke
                    mbajtur trajnime rreth kësaj gjuhe skriptuese.</div>
            </div>

            <div class="teams">
                <img class="img"
                    src="https://media.istockphoto.com/id/515630181/photo/portrait-of-a-smiling-woman-in-a-blue-shirt.jpg?s=612x612&w=0&k=20&c=NbRbAUPtralJJkkWpTxmFnyb_0x241dpbMd4pRjGe84="
                    height="220px" width="180px">
                <div class="name">
                    <h2>Agnesa Jashanica</h2>
                </div>
                <div class="working">
                    <h3>Python Development</h3>
                </div>
                <div class="desription">Inxhiniere softueri me përvojë 4 vjeçare në programim. Aktualisht është duke
                    punuar si Python Developer në B.I.T.</div>
            </div>
            <div class="teams">
                <img class="img"
                    src="https://thumbs.dreamstime.com/b/photo-document-passport-id-mature-caucasian-man-suit-white-shirt-126121929.jpg"
                    height="220px" width="180px">
                <div class="name">
                    <h2>Arianit Gashi</h2>
                </div>
                <div class="working">
                    <h3>Graphic Designer</h3>
                </div>
                <div class="desription">Graphic Designer me përvojë 10 vjeçare. Aktualisht është duke punuar me Adobe
                    Photoshop dhe Adobe Ilustrator.</div>
            </div>
            <div class="teams">
                <img class="img"
                    src="https://thumbs.dreamstime.com/b/passport-document-id-photo-business-man-portrait-119717703.jpg"
                    height="220px" width="180px">
                <div class="name">
                    <h2>Ardit Gjyrevci</h2>
                </div>
                <div class="working">
                    <h3>Security Engineer</h3>
                </div>
                <div class="desription">Security Engineer me përvojë shumëvjeçare si në Web Security, App Security në
                    “3cis j.s.c". Aktualisht duke punuar si Software Security. </div>
            </div>
            <div class="teams">
                <img class="img"
                    src="https://us.123rf.com/450wm/stylephotographs/stylephotographs2004/stylephotographs200401182/stylephotographs200401182.jpg?ver=6"
                    height="220px" width="180px">
                <div class="name">
                    <h2>Ardi Zariqi</h2>
                </div>
                <div class="working">
                    <h3>IOS Development</h3>
                </div>
                <div class="desription">Zhvillues i aplikacioneve IOS me përvojë 5 vjeçare. Punoi me aplikacione të
                    njohura ndërkombëtare.</div>
            </div>
            <div class="teams">
                <img class="img"
                    src="https://st4.depositphotos.com/35580620/38766/i/600/depositphotos_387663176-stock-photo-photobooth-portrait-beautiful-brunette-caucasian.jpg"
                    height="220px" width="180px">
                <div class="name">
                    <h2>Aferdita Kryeziu</h2>
                </div>
                <div class="working">
                    <h3>HTML5 Engineer</h3>
                </div>
                <div class="desription">Eksperte e gjuhës skriptuese HTML me më shumë se 7 vite përvojë pune,
                    mësimdhënie në nivel akademik. ​</div>
            </div>
        </div>
    </div>
</body>

</html>